.draggable-sticky-icon {
  transform: scale(1);
}

.draggable-sticky-icon:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}