.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
}

.board-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board-list > div {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.last-selected {
  background-color: #282c34;
  color: white;
}
